@font-face {
    font-family: 'O.Sans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'O.Sans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Saira-Regular';
    src: url('../fonts/SairaStencilOne-Regular.ttf');
}